@import "/node_modules/modern-normalize/modern-normalize.css";

@import "swiper/css/bundle";

@font-face {
  font-family: "All Round Gothic Thick";
  src: url("/public/fonts/fonspring-demo/Fontspring-DEMO-allroundgothic-thick.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("/public/fonts/sa_saygon/CASaygonText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "All Round Gothic Thick", sans-serif;
}

.MuiIconButton-root {
  text-transform: none;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  text-transform: none;
}

.MuiPaper-root {
  position: absolute;
  top:0;
  right:0;
}

.MuiInput-root {
  border:none;
}

.MuiInputBase-input {
  padding: 0;
  margin: 0;
  outline:none;
  border:none;
  background-color: transparent;
}



label+.css-v4u5dn-MuiInputBase-root-MuiInput-root {
  margin: 0;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  border-bottom: 2px solid #97D28B;
  padding-bottom: 8px;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input:invalid {
  border-bottom: 2px solid #D28B8B;
}

textarea {
  outline: none;
  padding: 0;
  background-color: transparent;
}

input {
  outline: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
a {
  list-style: none;
}


button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}



@media screen and (min-width: 1280px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1600px;
  }
} 

.MuiButton-endIcon {
  margin: 0;
}

.MuiButton-root {
  text-transform: none;
}