@import "/node_modules/modern-normalize/modern-normalize.css";

@import "swiper/css/bundle";

@font-face {
  font-family: "All Round Gothic Thick";
  src: url("/public/fonts/fonspring-demo/Fontspring-DEMO-allroundgothic-thick.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CA Saygon Text";
  src: url("/public/fonts/sa_saygon/CASaygonText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "All Round Gothic Thick", sans-serif;
}

.MuiIconButton-root {
  text-transform: none;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  text-transform: none;
}

.MuiPaper-root {
  position: absolute;
  top:0;
  right:0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
a {
  list-style: none;
}


button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 360px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1600px;
  }
}

.MuiButton-endIcon {
  margin: 0;
}